html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.977);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.table__counter {
  font-family: "Press Start 2P", system-ui;
  color: #ffd163;
}

.table {
  display: flex;
  font-size: 50px;
}

.font {
  font-family: "Press Start 2P", system-ui;
  color: #ffd163;
}

.border {
  border: 2px solid #ffd163;
}

.vanish {
  display: none;
}

span {
  padding: 30px;
}

.guide {
  padding-bottom: 15px;
  border-bottom: 3px solid #ffd163;
}
